.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 40px;
    border-radius: 4px;
    border:1px solid #ff8000;
    outline: 2px solid white;
    list-style: none;
}